<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink = "/">
          <span data-feather="home"></span>
          Ana Sayfa
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink = "/systemProfile/{{getUserId()}}">
          <span data-feather="home"></span>
          Profili Görüntüle
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink = "/advertisementControl">
          <span data-feather="home"></span>
          İlanları Yönet
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink = "/updateControl">
          <span data-feather="home"></span>
          Güncellemeleri Yönet
        </a>
      </li>
    </ul>
</div>
</nav>