<div *ngIf = "candidate === undefined; else content"></div>

<ng-template #content>
  <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink = "/">
            <span data-feather="home"></span>
            Ana Sayfa
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink = "/candidateProfile/{{getUserId()}}">
            <span data-feather="home"></span>
            Profili Görüntüle
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink = "/candidateCv/{{getUserId()}}">
            <span data-feather="home"></span>
            Özgeçmiş
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink = "/favouriteAds/{{getUserId()}}">
            <span data-feather="home"></span>
            Favori İlanlarım 
          </a>
        </li>
        
      </ul>
    </div>
  </nav>
</ng-template>

