<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#linkedinLink">
    Linkedin Hesabı Ekle/Değiştir
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="linkedinLink" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup] = "addLinkedinForm">
            <div class = "m-3">
                <label for="linkedinLink" class="form-label">Linkedin Link</label>
                <input type="text" class="form-control" id="linkedinLink" placeholder="" formControlName = "linkedinLink">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click) = "addLinkedinLink()">Save changes</button>
        </div>
      </div>
    </div>
  </div>