<div class="container pb-5">
        <div class="row mt-3">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-3">
                            <span class = "fw-bold">Github: </span>
                        </div>
                        <div class="col-9">
                            {{candidate.githubAccount}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                <div class="row">
                        <div class="col-3">
                            <span class = "fw-bold">Linkedin: </span>
                        </div>
                        <div class="col-9">
                            {{candidate.linkedinAccount}}
                        </div>
                    </div>
                </li>
              </ul>
        </div>
    </div>
